<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Success</h1>
<!--    th:text将div的文本内容设置为...-->
    <div id="div01" class="myDiv" th:id="${hello}" th:class="${hello}" th:text="${hello}">被替换的信息</div>

    <div th:text="${hello}"></div>
    <div th:utext="${hello}"></div>

<!--    每次遍历生成当前标签-->
    <h4 th:text="${user}" th:each="user: ${users}"></h4>

    <hr/>
    <h4>
        <span th:each="user: ${users}">[[${user}]]</span>
    </h4>

</body>
</html>